<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulo.android.printloglibrary">

    <application>
        <activity android:name="com.paulo.android.printloglibrary.PrintLogActivity">

        </activity>
    </application>
</manifest>